/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
table {
    width: 100%;
  }
  .dobro{
      background-color: #2ECC40;
  }
  .slabo{
      background-color: rgb(255, 119, 29);
  }
  .videno{
    background-color: rgb(255, 229, 61) !important;
}
.poteklo{
    background-color: #FF4136;
}
  .example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
  }
  nav{
      margin: auto;
  }